.eve {
  font: 80% Verdana, sans-serif;
}

.eve p {
  margin: 0;
  padding: 0;
}

table.column {
  border: 1px solid black;
  margin: .27em;
  padding: .27em;
}

td.label {
  text-align: right;
  padding-right: .27em;
}

td.widget {
  text-align: left;
}

span.value {
  font-size: 86%;
}

span.units {
  padding-left: .27em;
  float: right;
}

td.box {
  text-align: center;
}

